.c-bold {
  font-weight: bold;
}
.c-shadow {
  box-shadow: 2px 2px 5px grey;
}
.c-radius {
  border-radius: 5px;
}
.c-radius-2 {
  border-radius: 2px;
}
.c-radius-10 {
  border-radius: 10px;
}
.c-radius-50 {
  border-radius: 50%;
}
.c-border {
  border: 1px black solid;
}
.c-bb {
  border-bottom: 1px black solid;
}
.c-title-footer {
  margin-right 2px
  font-weight bold
  border-bottom: 1px black solid
}
.c-img-file {
  width 1.3rem
  height 1.3rem
  margin-right 0.4rem
}
.c-lbl-file {
  border-bottom 1px black solid
  color grey
}

.c-btn-close {
  width 1rem
  height 1rem
}

.c-btn-close {
  width 15px
  height 15px
  cursor pointer
}

.c-btn-close2:hover {
}

.c-lbl-file {
  border-bottom 1px grey solid
  color grey
}
.c-img-file {
  width 1.3rem
  height 1.3rem
  margin-right 0.4rem
}
.c-cx {
  margin-right auto
  margin-left auto
}
.c-cy {
  margin-top auto
  margin-bottom auto
}
.c-fs8 {
  font-size 0.8rem
}
.c-fa {
  width 100%
  height 100%
}
.c-fx {
  width 100%
}
.c-fy {
  height 100%
}
.c-fs-5 {
  font-size 0.5rem
}
.c-fs-6 {
  font-size 0.6rem
}
.c-fs-8 {
  font-size 0.8rem
}
.c-fs-10 {
  font-size 1rem
}
.c-chips {
  border 1px #757575 solid
  margin-left 0.05rem
  border-radius 2px
  padding 0.5rem
}
.c-mt-3 {
  margin-top 3rem
}

.c-img-crop {
  background-position: center center;
  background-size: cover;
  background-repeat no-repeat
}

.c-sl-3dt {
  overflow: hidden;
  white-space: nowrap
  text-overflow: ellipsis
}

.c-box {
  background url('/assets/bg.png')
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height 100vh
  min-height 100vh
  overflow none
  background-position: center center;
  background-size: cover;
  background-repeat no-repeat
}